POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=docshare-user
POSTGRES_PASSWORD=defaultpassword
POSTGRES_SCHEMA=docshare
POSTGRES_DB=docshare
MINIO_BUCKET=files
MINIO_HOST=localhost:3131
MINIO_PORT=3131
MINIO_UI_PORT=3141
MINIO_ACCESS_KEY=docshare
MINIO_PRIVATE_KEY=docshare-password